/* villadetara.com amendments to Gokarna CSS */

/* Home Page */
/* .home-about, .home-content a:any-link { */
.home-content a:any-link {
  text-decoration: none;
  color: var(--accent-color);
}

/* Post */
.post-date-sub {
	font-size: 14px
}

.post-content a:any-link {
  text-decoration: none;
  color: var(--accent-color);
}

/* SINGLE */
.post [role="doc-subtitle"] {
  font-style: normal;
}

/* Footer */
.footer {
	font-size: 12px
}

.footer a:any-link {
	text-decoration: none;
}

/* PREV/NEXT */
.prev-post a:any-link {
  text-decoration: none;
  color: var(--accent-color);
}

.next-post a:any-link {
  text-decoration: none;
  color: var(--accent-color);
}

.prev-post, .next-post {
  max-width: 49%;
}
