/* villa de Tara amendments to Mainroad CSS */

{{- $highlightColor := .Site.Params.highlightColor -}}

.content a:hover,
.warning a:hover,
.authorbox__description a:hover {
	color: {{ $highlightColor }};
	text-decoration: none;
}

/* Footer */
.footer {
	font-size: 12px;
	font-size: .66rem;
}

.footer a:hover {
	/* color: {{ $highlightColor }}; */
	color: #0d5eaf;
	text-decoration: none;
}
