{{ with .PrevInSection }}
<div class="prev-post">
    <p>
        <a href="{{ .RelPermalink }}">
            &#8592;
            <b>{{ i18n "previous" }}:</b>
            {{ .Title }}
        </a>
    </p>
    <p class="prev-post-date">
        {{ dateFormat "2 January 2006" .Date }}
    </p>
</div>
{{ end }}

{{ with .NextInSection }}
<div class="next-post">
    <p>
        <a href="{{ .RelPermalink }}">
            <b>{{ i18n "next" }}:</b>
            {{ .Title }}
            &#8594;
        </a>
    </p>
        <p class="next-post-date">
            {{ dateFormat "2 January 2006" .Date }}
        </p>
</div>
{{ end }}
