<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ .Site.Title }}{{ if not .IsHome }} - {{ .Title }}{{ end }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	<!-- {{- if .Site.Params.opengraph }} -->
	<!-- 	{{ template "_internal/opengraph.html" . }} -->
	<!-- {{- end }} -->
	<meta property="og:title" content="{{ .Site.Title }}{{ if not .IsHome }} - {{ .Title }}{{ end }}" />
	<meta property="og:description" content="Amazing sea views just outside the village of Kefalas in Crete" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:image" content="https://villadetara.com/images/pool-view.jpg"/>
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	<!-- {{- if .Site.Params.twitter_cards }} -->
	<!-- 	{{ template "_internal/twitter_cards.html" . }} -->
	<!-- {{- end }} -->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:image" content="https://villadetara.com/images/pool-view.jpg"/>
	<meta name="twitter:title" content="{{ .Site.Title }}{{ if not .IsHome }} - {{ .Title }}{{ end }}"/>
	<meta name="twitter:description" content="Amazing sea views just outside the village of Kefalas in Crete"/>

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ .Site.Params.favicon | relURL }}favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.favicon | relURL }}apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon | relURL }}favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.favicon | relURL }}favicon-16x16.png">

</head>
<body class="body">
	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>
